<section class="add-review">
    <form  class="form" #addReview="ngForm" (ngSubmit)="SubmitReview(addReview)">
        <div class="review-upper">
            <figure class="review-figure">
                <img src="assets/images/user/avatar-{{this.UserImage}}.svg">
            </figure>
            <textarea #title class="input-data round5 highlighted-text font20" maxlength="200" rows="2" name="title" type="text" placeholder="Titolo..." ngModel required (keydown.enter)="title.blur()"></textarea>
        </div>    
        <textarea #description class="input-data round5 font20" type="text" maxlength="1024" rows="6" name="description" placeholder="Inserisci una descrizione..." ngModel></textarea>
        <div class="review-lower">
            <app-add-rating class="rating" [Rating]="currentRating"></app-add-rating>
            <span class="font14 error" *ngIf="SearchForReview() && addReview.valid">*Hai già inserito una recensione, cancellala prima di inserirne un'altra.</span>
            <button class="round20 default-btn font16 highlighted-text submit-btn" type="submit" *ngIf="!SearchForReview() && addReview.valid"> Invia </button>
        </div>
    </form>
</section>