
.add-review{
    background-color: var(--background-header-color);
    margin: 25px 0 50px 0;
    border-radius: 5px;
    border: 5px var(--systemGray5) double;
    padding: 15px;
}

.review-figure{
    min-width: 70px;
    width: 70px;
    margin: 8px 0 0 0;
}

.review-figure img{
    width: 100%;
}

.form{
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.review-upper{
    display: flex;
    flex-direction: row;
}

.rating{
    margin-left: 6px;
    flex-grow:1;
}

.review-lower{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.input-data{
    background-color: var(--systemGray4);
    border: 2px var(--systemGray2) solid;
    flex-grow: 1;
    padding: 8px;
    resize:none;
    overflow-x: hidden;
    margin: 10px 5px 15px 5px;
}

.input-data:focus{
    outline: 2px var(--systemGray3) solid;
}

.submit-btn{
    align-self: flex-end;
    margin:0 5px 5px 0;
    width: 40%;
    height: 40px;
    background-color: rgb(0, 69, 172);
    border: transparent;
}

.submit-btn:hover{
    background-color:rgb(8, 63, 145);
}

.submit-btn:active {
    transform: translateY(2px);
}