<aside class="videogame-toolbar" *ngIf="CurrentUserTipologia != tipologiaUser.null">
  <div class="tlb-itms">
    <button class="tlb-btn" (click)="AddFavoriteListPressed()">
      <mat-icon class="icon-cnt red-icon" [ngClass]="isFavorite ? 'icon-fill' : 'icon-outline'" >favorite</mat-icon>
    </button>
    <button class="tlb-btn" (click)="AddWishListPressed()">
      <mat-icon class="wish-gold-icon" [ngClass]="isWished ? 'icon-fill' : 'icon-outline'" >shopping_bag</mat-icon>
    </button>
  </div>
  <div class="tlb-itms" *ngIf="CurrentUserTipologia == tipologiaUser.Admin">
    <button class="tlb-btn" (click)="EditVideogame()">
      <mat-icon>{{editButton}}</mat-icon>
    </button>
    <button class="tlb-btn" (click)="RemoveVideogame()">
      <mat-icon>delete</mat-icon>
    </button>
  </div> 
</aside>

