<article class="spettacolo-main">
    <figure>
        <img id="spettacolo-image" src="assets/images/spettacoli/{{spettacolo.id}}">
    </figure>
    <h1 class="title">{{spettacolo.titolo}}</h1> <br>
    <h2 class="spettacolo-hd">{{spettacolo.attore}}</h2>
    <span class="genere">{{spettacolo.genere}}</span> <br>
    <div class="spettacolo-info">
        <span class="spettacolo-hd">Durata:</span> <br>
        {{spettacolo.durata}}

        <span class="spettacolo-hd">Numero Atti:</span> <br>
        {{spettacolo.atti}}
        
        <span class="spettacolo-hd">Anno:</span> <br>
        {{spettacolo.anno}}
    </div>
    <br>
    <div class="spettacolo-info">
        <span class="spettacolo-hd">Descrizione:</span>
        {{spettacolo.descrizione}}
    </div>
</article>