<aside class="videogame-toolbar" *ngIf="isLoggedIn">
  <div class="tlb-itms">
    <button class="tlb-btn">
      <mat-icon>favorite_outlined</mat-icon>
    </button>
    <button class="tlb-btn">
      <mat-icon class="material-icons-outlined">shopping_bag</mat-icon>
    </button>
  </div>
  <div class="tlb-itms" *ngIf="CurrentUserTipologia == tipologiaUser.Admin">
    <button class="tlb-btn">
      <mat-icon>edit</mat-icon>
    </button>
    <button class="tlb-btn">
      <mat-icon>delete</mat-icon>
    </button>
  </div> 
</aside>

