<article class="videogame-main">
    <figure>
      <img id="videogame-image" src="assets/images/spettacoli/{{videogame.id}}">
    </figure>
    <h1 class="title">{{videogame.titolo}}</h1> <br>
    <h2 class="videogame-hd">{{videogame.casaP}}</h2>
    <span class="genere">{{videogame.genere}}</span> <br>
    <div class="videogame-info">
      <span class="videogame-hd">Durata:</span> <br>
      {{videogame.durata}}

      <span class="videogame-hd">Anno:</span> <br>
      {{videogame.anno}}
    </div>
    <br>
    <div class="videogame-info">
      <span class="videogame-hd">Descrizione:</span>
      {{videogame.descrizione}}
    </div>
  </article>
