
.videogame-main{
    background-color:lightblue;
    width: 83%;
    margin-left:10%;
    float: left; 
}

.videogame-detail-figure > img{
    height: 20em;
    float: left;
}

.videogame-hd{
    color:white;
}

.videogame-description{
    clear:left;
    text-align: center;
}

.Stella, .Rating{
    display: inline;
}