<article class="videogame-main">
    <figure class="videogame-detail-figure">
      <img id="videogame-image" src="assets/images/videogames/{{videogame.id}}.png">
    </figure>
    <span class="genere">{{videogame.genere}}</span>
    <h1 class="title">{{videogame.titolo}}</h1>
    <h2 class="videogame-hd">{{videogame.casaP}}</h2>

    <app-rating [valutazione]="videogame.valutazione"></app-rating>

    <div class="videogame-info">
      <span class="videogame-hd">Durata:</span>
      {{videogame.durata}}

      <span class="videogame-hd">Anno:</span>
      {{videogame.anno}}
    </div>
    <br>
    
</article>

  <app-videogame-toolbar [videogameData]="videogame"></app-videogame-toolbar>

  <div class="videogame-description">
    <span class="videogame-hd">Descrizione:</span>
    {{videogame.descrizione}}
  </div>

  <app-videogame-reviews [videogameId]="videogameId"></app-videogame-reviews>
  