
.videogame-main{
    background-color:lightblue;
    margin-left: 0;
    inline-size: 93%;
    display: inline-block;
}

.videogame-detail-figure{
    margin-left: 5px;
}

.videogame-detail-figure > img{
    height: 160px;
    float: left;
}

.videogame-hd{
    color:white;
}

.videogame-info{
    color:red;
    text-align: left;
}