<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="css/styles.css">
    <link rel="stylesheet" href="css/header.css">
</head>
<body>
    <header>
        <div style="margin-left: 10px; margin-top: 5px;">
            <img src="images/logo.png" height="50" width="100">
        </div>
        <div>
            <nav>
                <ul>
                    <li><a href="http://localhost:4200">Home</a></li>
                    <li><a href="http://localhost:4200/profile">Profilo</a></li>
                    <li><a href="http://localhost:8080/videogames">Videogiochi</a></li>
                    <li><a href="http://localhost:4200/videogame-lists">Liste</a></li>
                    <li><a href="http://localhost:4200/guidelines">Linee Guida</a></li>
                </ul>
            </nav>
        </div>
        <div>
            <input type="text" id="searchBar" name="searchBar" placeholder="cerca...">
        </div>
    </header>
</body>
</html>