<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="css/styles.css">
    <link rel="stylesheet" href="css/header.css">
</head>
<body>
    <header>
        <div style="margin-left: 10px; margin-top: 5px;">
            <img src="images/logo.png" class="logo">
        </div>
        <div>
            <nav>
                <ul>
                    <li><a href="http://localhost:4200">Home</a></li>
                    <li th:if="${user == null}"><a href="http://localhost:4200/login">Login</a></li>
                    <li th:if="${user == null}"><a href="http://localhost:4200/signup">Registrati</a></li>
                    <li th:if="${user != null}"><a href="http://localhost:4200/profile">Profilo</a></li>
                    <li><a href="#">Videogiochi</a></li>
                    <li th:if="${user != null}"><a href="http://localhost:4200/videogame-lists">Liste</a></li>
                    <li><a href="http://localhost:4200/guidelines">Linee Guida</a></li>
                    <li th:if="${user != null && admin == true}"><a href="http://localhost:4200/reports-handling">Gestione Segnalazioni</a></li>
                </ul>
            </nav>
        </div>
        <div>
            <input type="text" id="searchBar" placeholder="Cerca videogioco...">
        </div>
    </header>
</body>
</html>