<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="css/styles.css">
    <link rel="stylesheet" href="css/videogames.css">
    <script src="javascript/SearchBarLogic.js"></script>
    <title>Stram</title>
</head>
<body>
    <div th:insert="~{header}"></div>

    <div class="main-container">
        <h1 class="title">Catalogo Videogiochi</h1>
        <div class="grid-container">
            <div class="videogame-data" th:each="videogame : ${videogames_list}">
                <figure class="videogame-figure round8">
                    <a th:href="@{'http://localhost:4200/videogame/' + ${videogame.id}}">
                        <img th:src="@{/images/videogames/{id}.png(id=${videogame.id})}" th:alt="${videogame.titolo}">
                    </a>
                </figure>
            </div>
        </div>
        <div id="placeHolder">Nessun Videogioco Trovato.</div>
    </div>

    <div th:insert="~{footer}"></div>
</body>
</html>