<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="css/styles.css">
    <link rel="stylesheet" href="css/videogames.css">
    <title>Stram</title>
</head>
<body>
    <div th:insert="~{header}"></div>

    <div class="main-container">
        <h1 class="title">Catalogo Videogiochi</h1>
        <div class="grid-container ">
            <div class="videogame-data" th:each="videogame : ${videogames_list}">
                <figure class="videogame-figure round8">
                    <!--th:ref="@{http://localhost:4200/videogame/{id}(id=${videogame.id})}"-->
                    <button  class="fv-btn default-btn round btn-gray px50" data-videogame="${videogame.id}">
                        <span class="material-symbols-outlined mdsize red-icon">favorite</span>
                    </button>
                    <button class="wl-btn default-btn round btn-gray px50">
                        <span class="material-symbols-outlined mdsize wish-gold-icon">shopping_bag</span>
                    </button>
                    <img style="background-image:linear-gradient(rgba(0, 0, 0, 0.5),rgba(28, 28, 30, 1));" th:src="@{/images/videogames/{id}.png(id=${videogame.id})}" th:alt="${videogame.titolo}">
                </figure>
            </div>
        </div>
    </div>

    <div th:insert="~{footer}"></div>
</body>
</html>