.main-container {
  width: 95%;
  margin: 0 auto;
}

h1 {
  font-size: 3rem;
  margin-bottom: 2px;
}


.top-games {

  display: flex;

  justify-content: space-around;
  align-items: center;

  margin-bottom: 20px;

  padding: 15px 20px;
  /*background-color: var(--systemGray4);*/
}



.container-games {
  position: relative;
  /*background-color: var(--systemGray4);*/
}


.game-list-slider {
  overflow-x: scroll;
  white-space: nowrap;
  display: flex;
  gap: 10px;
  padding: 2vh 0;
}



.game-item {
  display: inline-block;
  position: relative;

  justify-content: space-evenly;
}

.game-item img {
  aspect-ratio: 10/16;
  width: clamp(150px, 12vw, 350px);

  display: block;
  object-fit: cover;
}



.game-item-rating {
  position: absolute;
  top: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.7);

  color: #fff;

  height: fit-content;
  width: fit-content;

  border-radius: 0 8px 0 8px;

  p, .material-symbols-rounded {
    display: flex;
    align-items: center;
    margin: 0;
  }

  p {
    justify-content: flex-end;
    font-size: 20px;
    padding: 5px;
  }

  .material-symbols-rounded {
    justify-content: center;
    alignment-baseline: center;
    font-size: 30px;
  }
}


.top-games-ratings {
  top: 0 !important;
}







/* Freccia slider */
.prev, .next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);

  /*background-color: rgba(0, 0, 0, 0.7);*/
  font-size: 45px;
  color: #fff;

  z-index: 30;

}


.prev {
  left: 0;
  transform: translateX(-50%);
}

prev > .material-symbols-rounded {

}

.next {
  right: 0;
  transform: translateX(50%);
  .material-symbols-rounded {

  }
}





::-webkit-scrollbar {
  display: none;
}

::-webkit-scrollbar-thumb {
  display: none;
}



/* bottone favoriti*/

.game-item-quick-favourite-button {
  display: none;
}


.game-item:hover {

  .game-item-quick-favourite-button {
    display: flex;
    position: absolute;

    right: 0.5vw;
    bottom: 0.5vw;

    height: fit-content;
    width: fit-content;

    z-index: 10;

    align-items: center;
    justify-content: center;

    /* solo per il pulsante del like quando si mette il puntatore sul gioco */
    .material-symbols-rounded {
      padding: 5px;

      font-size: 3rem;
      color: red;                   /* todo  aggiustare la tonalità di rosso, che questa è brutta */
    }

    .material-symbols-rounded:hover {
      color: red;                   /* todo  aggiustare la tonalità di rosso, che questa è brutta */
    }
  }
}



.btn-style {
  background-color: rgba(99,99,102,0.9);
  border: 1.5px var(--systemGray2) solid;

  border-radius: 50%;

  animation: btn-anim-start 0.3s linear 0ms 1 forwards ;
  box-shadow: 0 4px 8px var(--background-header-color);
}

.btn-style:hover {
  background-color: rgba(132, 132, 135, 0.9);
  animation: btn-anim-hover 0.2s linear 0.1s 1 both;
}

.btn-style:active {
  animation: btn-anim-active 0.35s linear 0.1s 1 both;
}



@keyframes anim-pulse {
  0%, 100% {
    transform: scale(100%);
  }
  50% {
    transform: scale(110%);
  }
}




@keyframes btn-anim-start {
  from {
    transform: scale(0%)
  }
  to {
    transform: scale(75%);
  }
}

@keyframes btn-anim-hover {
  from {
    transform: scale(75%);
  }
  to {
    transform: scale(100%);
  }
}

@keyframes btn-anim-active {
  from {
    transform: scale(100%);
  }
  to {
    transform: scale(125%);
  }
}

@keyframes icon-fill-red {
  from {

  }
  to {

  }

}
