<div class="main-container">


  <!-- todo make it dynamic -->
  <div class="main-poster-container">
      <div class="WRAPPER-main-poster-container">
          <img src="assets/images/videogames/0-1920x1080.jpg">
          <button routerLink="/videogame/0">Vedi</button>
      </div>
  </div>
  <div>
    <app-slider [title]="firstTitle" [games]="sliders[0]"></app-slider>
    <app-slider *ngFor="let slider of sliders.slice(1); let i = index" [title]="slider[0].genere" [games]="slider"></app-slider>
  </div>

</div>

