<div class="review-list">
 <section class="review" *ngFor="let review of ReviewList">
    <div class="review-hd"> 
        <figure class="review-figure">
            <img src="assets/images/user.png">
        </figure>
        <span class="username">{{review.username}}</span>
    </div>
    <div class="review-bd">
        <h1>{{review.title}}</h1>
        <app-rating [valutazione]="review.rating"></app-rating>
        <p class="description">{{review.comment}}</p>
    </div>
    <app-review-toolbar [reviewId]="review.reviewId"></app-review-toolbar>
 </section>
</div>