.review{
    background-color: rgba(0,0,0,0.2);
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 5px var(--systemGray5) double;
    padding: 15px;
    display: flex;
    flex-direction: row;
    overflow-wrap:break-word;
}

.review-figure{
    max-width: 50px;
    margin: 0;
}

.review-figure img{
    width: 100%;
}

.review-hd{
    display: flex;
    flex-direction: column; 
    width: 8%;
    align-items: center;
    margin-right: 10px;
}



.review-bd{
    width: 50%;
    flex-grow:1;
    margin-right: 20px;
}

.username{
    width: 100%;
    height: 60%;
    overflow: hidden;
    text-align: center;
}