<div class="review-list">
    <h1 class="highlighted-text">Recensioni</h1>
 <section class="review" *ngFor="let review of ReviewList">
    <div class="review-hd"> 
        <figure class="review-figure">
            <img src="assets/images/user.png">
        </figure>
        <span class="hd-data">{{review.username}}</span>
        <p class="hd-data">
            <span class="highlighted-text">{{review.likes}} </span>
            <mat-icon class="icon-cnt like-blue-icon">thumb_up</mat-icon>
        </p>
    </div>
    <div class="review-bd">
        <h1 class="highlighted-text" id="title">{{review.title}}</h1>
        <app-rating [valutazione]="review.rating"></app-rating>
        <p class="description">{{review.comment}}</p>
    </div>
    <app-review-toolbar class="toolbar" [review]="review"></app-review-toolbar>
 </section>
</div>