<div routerLink="guidelines">
    <h1>Benvenuti nel Nostro Catalogo di Videogiochi!</h1>
    <p>Siamo entusiasti di presentarvi il nostro vasto assortimento di videogiochi, dedicato a tutti gli appassionati del gaming! Nel nostro catalogo troverete una selezione curata di titoli che coprono ogni genere e piattaforma.</p>
    <h1>Organizzazione Facile per la Ricerca di Titoli:</h1>
    <p>Abbiamo organizzato il catalogo in categorie chiare, dalla frenetica azione all'emozionante avventura. Utilizza la barra di ricerca per personalizzare la tua ricerca in base al nome titoli ricercati.</p>
    <h1>Recensioni e voti</h1>
    <p>Fai sapere alla community il tuo parere! E' possibile infatti recensire i titoli del catalogo, con un voto da 1 a 5 stelle ed un commento. Attenzione: sii gentile, parole scurrili e offese non sono tollerate.</p>
</div>