<div class="main-add-game-container">
  <form [formGroup]="gameForm" (ngSubmit)="onSubmit($event)">

    <div class="campo">
      <label for="title">Titolo</label>
      <input class="form-control" id="title" formControlName="title" type="text" minlength="2" maxlength="50" placeholder="Minecraft"/>
      <div class="help-block" *ngIf="gameForm.controls['title'].touched && gameForm.controls['title'].errors">
        <p *ngIf="gameForm.controls['title'].errors?.['minlength']">Il titolo è troppo corto.</p>
        <p *ngIf="gameForm.controls['title'].errors?.['maxlength']">Il titolo è troppo lungo.</p>
        <p *ngIf="gameForm.controls['title'].errors?.['required']">Il titolo è obbligatorio.</p>
      </div>
    </div>

    <div class="campo">
      <label for="descrizione">Descrizione</label>
      <textarea class="form-control" id="descrizione" formControlName="descrizione" minlength="3" maxlength="1024" placeholder="Inserisci testo"></textarea>
      <div class="help-block" *ngIf="gameForm.controls['descrizione'].touched && gameForm.controls['descrizione'].errors">
        <p *ngIf="gameForm.controls['descrizione'].errors?.['minlength']">La descrizione è troppo corta.</p>
        <p *ngIf="gameForm.controls['descrizione'].errors?.['maxlength']">La descrizione è troppo lunga.</p>
        <p *ngIf="gameForm.controls['descrizione'].errors?.['required']">La descrizione è obbligatoria.</p>
      </div>
    </div>

    <div class="campo">
      <label for="genere">Genere</label>
      <select class="form-control" id="genere" formControlName="genere">
        <option value="" selected disabled>-- select --</option>
        <option *ngFor="let genere of generi" [value]="genere">{{ genere }}</option>
      </select>
      <div class="help-block" *ngIf="gameForm.controls['genere'].touched && gameForm.controls['genere'].errors">
        <p *ngIf="gameForm.controls['genere'].errors?.['required']">Il genere è obbligatorio.</p>
      </div>
    </div>

    <div class="campo">
      <label for="duration">Durata</label>
      <input class="form-control" id="duration" formControlName="duration" type="number" min="0" max="9999" placeholder="es 5" (keypress)="preventNonNumericalInput($event)"/>
      <div class="help-block" *ngIf="gameForm.controls['duration'].touched && gameForm.controls['duration'].errors">
        <p *ngIf="gameForm.controls['duration'].errors?.['min']">La durata è troppo corta.</p>
        <p *ngIf="gameForm.controls['duration'].errors?.['max']">La durata è troppo lunga.</p>
        <p *ngIf="gameForm.controls['duration'].errors?.['required']">La durata è obbligatoria.</p>
        <p *ngIf="gameForm.controls['duration'].errors?.['pattern']">Inserisci solo numeri.</p>
      </div>
    </div>

    <div class="campo">
      <label for="anno">Anno Uscita</label>
      <input class="form-control" id="anno" formControlName="anno" type="number" min="1950" max="2050" placeholder="1950..2050" (keypress)="preventNonNumericalInput($event)"/>
      <div class="help-block" *ngIf="gameForm.controls['anno'].touched && gameForm.controls['anno'].errors">
        <p *ngIf="gameForm.controls['anno'].errors?.['min']">L'anno di uscita è troppo antico.</p>
        <p *ngIf="gameForm.controls['anno'].errors?.['max']">L'anno di uscita è troppo futuristico.</p>
        <p *ngIf="gameForm.controls['anno'].errors?.['required']">L'anno di uscita è obbligatorio.</p>
        <p *ngIf="gameForm.controls['anno'].errors?.['pattern']">Inserisci solo numeri.</p>
      </div>
    </div>


    <div class="campo">
      <label for="trailer">Trailer</label>
      <input class="form-control" id="trailer" formControlName="trailer" type="text" minlength="4" maxlength="120" placeholder="https://trailer.url"/>
      <div class="help-block" *ngIf="gameForm.controls['trailer'].touched && gameForm.controls['trailer'].errors">
        <p *ngIf="gameForm.controls['trailer'].errors?.['minlength']">Il trailer è troppo corto.</p>
        <p *ngIf="gameForm.controls['trailer'].errors?.['maxlength']">Il trailer è troppo lungo.</p>
        <p *ngIf="gameForm.controls['trailer'].errors?.['required']">Il trailer è obbligatorio.</p>
      </div>
    </div>

    <div class="campo">
      <label for="casa">Casa Madre</label>
      <input class="form-control" id="casa" formControlName="casa" type="text" minlength="2" maxlength="64" placeholder="Ubisoft"/>
      <div class="help-block" *ngIf="gameForm.controls['casa'].touched && gameForm.controls['title'].errors">
        <p *ngIf="gameForm.controls['title'].errors?.['minlength']">Il titolo è troppo corto.</p>
        <p *ngIf="gameForm.controls['title'].errors?.['maxlength']">Il titolo è troppo lungo.</p>
        <p *ngIf="gameForm.controls['title'].errors?.['required']">Il titolo è obbligatorio.</p>
      </div>
    </div>

    <div class="campo">
      <label for="verticalposter">Poster verticale</label>
      <input class="form-control" id="verticalposter" type="file" accept="image/png" (change)="onFileChange($event)" />
      <div class="help-block" *ngIf="gameForm.controls['verticalposter'].touched && gameForm.controls['verticalposter'].errors">
        <p *ngIf="gameForm.controls['verticalposter'].errors?.['required']">Il poster verticale è obbligatorio.</p>
      </div>
    </div>

    <div class="campo">
      <label for="horizontalposter">Poster orizzontale</label>
      <input class="form-control" id="horizontalposter"  type="file" accept="image/png" (change)="onFileChange2($event)" />
      <div class="help-block" *ngIf="gameForm.controls['horizontalposter'].touched && gameForm.controls['horizontalposter'].errors">
        <p *ngIf="gameForm.controls['horizontalposter'].errors?.['required']">Il poster orizzontale è obbligatorio.</p>
      </div>
    </div>

    <button type="submit">Invia</button>

  </form>
</div>
