<div routerLink="profile">
  <div class="propicImage">
    <img src="/assets/images/user.png" height="100" width="100">
    <h1 style="margin-left: 50px; margin-top: 30px">Il tuo account</h1>
  </div>
  <div class="sections">
    <h2>Nome e cognome: </h2>
    <div style="margin-left: 285px; margin-top: 20px">
      <input type="text" id="changeNameBar" name="changeNameBar" placeholder="Cambia Nome...">
      <input type="text" id="changeSurnameBar" name="changeSurnameBar" placeholder="Cambia Cognome..." style="margin-left: 20px">
      <input type="submit" id="changeUsernameButton" name="changeUsernameButton" value="Submit" style="margin-left: 20px">
    </div>
  </div>
  <div class="sections">
    <h2>Email: </h2>
    <div class="changeFields">
      <input type="text" id="changeEmailBar" name="changeEmailBar" placeholder="Cambia Email...">
      <input type="submit" id="changeEmailButton" name="changeEmailButton" value="Submit" style="margin-left: 20px">
    </div>
  </div>
  <div class="sections">
    <h2>Cambia password: </h2>
    <div style="margin-left: 275px; margin-top: 20px">
      <input type="text" id="changePasswordBar" name="changePasswordBar" placeholder="Nuova password...">
      <input type="text" id="confirmPasswordBar" name="confirmPasswordBar" placeholder="Conferma password..." style="margin-left: 20px">
      <input type="submit" id="changePasswordButton" name="changePasswordButton" value="Submit" style="margin-left: 20px">
    </div>
  </div>
  <div class="logout">
    <input type="submit" class="logoutButton" id="logout" name="logout" value="logout" style="margin-left: 20px">
  </div>
</div>
