.videogame-article{
    margin: 20px 0;
    display: flex;
    flex-direction: row;
    background-position: center;
    background-repeat: no-repeat;
    background-size:cover;
    border-radius: 5px;
    border: 2px solid var(--systemGray5);
    overflow-wrap: break-word;
}

.videogame-detail-figure{
    margin: 5px;
    margin-top: 2px;
    max-width: 260px;
    height: 385px;
}

.videogame-detail-figure img{
    width: 100%;
    height: 100%;
    border-radius: 5px;
    border: 2px solid var(--systemGray5);
}

.videogame-details{
    width: 50%;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    padding-left: 10px;
    padding-top: 5px;
    margin-right: 20px;
}

.videogame-description{
    border: 5px var(--systemGray5) double;
    padding: 4px;
    border-radius: 5px;
    margin-bottom: 30px;
}

.description-title{
    font-weight:bold;
    background-color: var(--background-header-color);
    display: block;
    text-align: center;
    border-radius: 5px;
    padding: 5px;
    margin: 0;
}

.description-data{
    background-color: var(--background-header-color);
    overflow-wrap: break-word;
    border-radius: 5px;
    padding: 10px;
    margin: 5px 0 0 0;
}

.genere{
    font-size: 18px;
    padding: 4px 8px;
    border-radius: 4px;
    border: none;
}

.genere option{
    font-weight: bold;
    background: var(--background-header-color);
}

.genere:focus-visible{
    outline: none;
}

.videogame-details h1{
    margin: 10px 0 20px 0;
}

.videogame-details h2{
    margin: 0 0 16px 0;
    flex-grow: 1;
    align-items: center;
}

.videogame-details h1:focus, .videogame-details h2:focus, .detail-data:focus{
    outline: 2px var(--systemGray2) solid;
    border-radius: 5px;
}

.detail-data{
    display: inline-block;
    max-width: 100px;
    color:rgba(255, 228, 196);
}

.spacer {
    background-color:var(--spacer-color);
    height: 20px;
    margin: 0 10px;
    width: 2px;
}

.yt-btn{
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    background-color:rgb(215, 5, 5);
    border:2px rgb(250, 5, 5) solid;
    margin-bottom: 15px;
}

.yt-btn mat-icon{
    padding-bottom:2px;
}

.yt-btn:hover{
    background-color: rgba(240, 5, 5) ;
}

.videogame-data{
    display: flex;
    flex-direction: row ;
    align-items: center;
    overflow: hidden;
}

.row-rating{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 10px;
    overflow: hidden;
}

.trailer-VdData{
    display: flex;
    flex-direction: row;
    align-items: center;
    
}

.flexG{
    flex-grow: 1;
}