<div class="main-container">
  
  <article class="videogame-article" [ngStyle]="{'background-image':'linear-gradient(rgba(0, 0, 0, 0.5),rgba(28, 28, 30, 1)),url('+ videogameImageURL +')'}">
    <!--Image videogame-->
    <figure class="videogame-detail-figure">
      <img src="assets/images/videogames/{{videogame.id}}.png">
    </figure>

    <section class="videogame-details">
      <!--Info videogame-->
      <div class="row-rating">
        <p *ngIf="!getEditMode()" class="flexG"><span class="genere highlighted-text" [ngStyle]="{'background-color': getGenereColor()}">{{videogame.genere}}</span></p>
        <p *ngIf="getEditMode()" class="flexG">
          <select *ngIf="getEditMode()" [(ngModel)]="videogame.genere" name="genereSelect" class="genere highlighted-text" [ngStyle]="{'background-color': getGenereColor()}">
            <option *ngFor="let genere of Genre">{{genere}}</option>
          </select>
        </p>
        <app-rating [valutazione]="videogame.valutazione"></app-rating>
      </div>

      <h1 #titolo class="highlighted-text data-element" [contentEditable]="getEditMode()" (keydown.enter)="titolo.blur()">{{videogame.titolo}}</h1>
      <h2 #casaP class="highlighted-text data-element" [contentEditable]="getEditMode()" (keydown.enter)="casaP.blur()">{{videogame.casaP}}</h2>
      
      <div class="trailer-VdData">
        <div class="flexG">
          <a [href]="videogame.trailer" target="_blank" class="round50-btn yt-btn" title="vai al trailer">
            <mat-icon>play_circle</mat-icon>
          </a>
        </div>
        
        <div class="videogame-data">

          <p> 
            <span class="highlighted-text">Durata: </span>
            <span class="detail-data data-element" *ngIf="!getEditMode()">{{ videogame.durata > 0 ? (videogame.durata + ' h') : 'Indefinita' }}</span>
            <span #durata class="detail-data data-element" *ngIf="getEditMode()" contentEditable (keydown.enter)="durata.blur()">{{videogame.durata}} </span>
          </p>

          <div class="spacer"></div>
          
            <p>
              <span class="highlighted-text">Anno: </span> 
              <span class="detail-data data-element" *ngIf="!getEditMode()">{{ videogame.anno < 9999 ? videogame.anno : 'Sconosciuto' }}</span>
              <span #anno class="detail-data data-element" *ngIf="getEditMode()" contentEditable (keydown.enter)="anno.blur()">{{videogame.anno}}</span>
            </p>
            
          </div>
        </div>

    </section>

    <!--Toolbar videogame-->
    <app-videogame-toolbar class="toolbar"  (UpdateData)="HandleUpdateData()"></app-videogame-toolbar>

  </article>
  <!--Description videogame-->
  <section class="videogame-description">
    <span class="description-title">Descrizione</span>
    <p #descrizione class="description-data data-element" [contentEditable]="getEditMode()" (keydown.enter)="descrizione.blur()">{{videogame.descrizione}}</p>
  </section>

  <app-videogame-reviews [videogameId]="videogame.id"></app-videogame-reviews>
</div>
<!--Fixed button for scrolling up-->
<button class="round50-btn fixed" title="Torna all'inizio" (click)="ToTheTopPressed()">
  <mat-icon>keyboard_arrow_up</mat-icon>
</button>
