<div class="main-container">

  <article class="videogame-article" [ngStyle]="{'background-image':'linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),url('+ videogameImageURL +')'}">
      <!--Image videogame-->
      <figure class="videogame-detail-figure">
        <img src="assets/images/videogames/{{videogame.id}}.png">
      </figure>

      <section class="videogame-details">
        <!--Info videogame-->
        <p class="videogame-hd"><span id="genere" [ngStyle]="{'background-color': getGenereColor()}">{{videogame.genere}}</span></p>
        <h1 [contentEditable]="getEditMode()">{{videogame.titolo}}</h1>
        <h2 [contentEditable]="getEditMode()">{{videogame.casaP}}</h2>
        <app-rating [valutazione]="videogame.valutazione"></app-rating>
        <p class="videogame-hd">Durata:
          <ng-template *ngIf="videogame.durata > 0;then ifblock else elseblock"></ng-template>
            <ng-template #ifblock>
              <span class="detail-data" [contentEditable]="getEditMode()">{{videogame.durata}} h</span>
            </ng-template>
            <ng-template #elseblock>
              <span class="detail-data" [contentEditable]="getEditMode()"> Illimitata </span>
            </ng-template>
        </p>
        <p class="videogame-hd">Anno: <span class="detail-data" [contentEditable]="getEditMode()">{{videogame.anno}}</span></p>
      </section>

    <!--Toolbar videogame-->
    <app-videogame-toolbar></app-videogame-toolbar>

  </article>
  <!--Description videogame-->
  <section class="videogame-description">
    <span class="description-title">Descrizione</span>
    <p class="description-data" [contentEditable]="getEditMode()">{{videogame.descrizione}}</p>
  </section>

  <app-videogame-reviews [videogameId]="videogame.id"></app-videogame-reviews>

</div>


<!--Eventualmente aggiungere un pulsante sticky che ti riporta al top della pagina 
  cosi se ci sono molte recensioni non si fa fatica e forse e dico FORSE anche uno per l'inverso-->