<div class="main-container">

  <article class="videogame-article" [ngStyle]="{'background-image':'linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),url('+ videogameImageURL +')'}">
      <!--Image videogame-->
      <figure class="videogame-detail-figure">
        <img src="assets/images/videogames/{{videogame.id}}.png">
      </figure>

      <section class="videogame-details">
        <!--Info videogame-->
        
        <p *ngIf="!getEditMode()"><span class="genere highlighted-text" [ngStyle]="{'background-color': getGenereColor()}">{{videogame.genere}}</span></p>
        <p *ngIf="getEditMode()">
          <select [(ngModel)]="videogame.genere" name="genereSelect" class="genere highlighted-text" [ngStyle]="{'background-color': getGenereColor()}">
            <option *ngFor="let genere of Genre">{{genere}}</option>
          </select>
        </p>
        <h1 class="highlighted-text" [contentEditable]="getEditMode()">{{videogame.titolo}}</h1>
        <h2 class="highlighted-text" [contentEditable]="getEditMode()">{{videogame.casaP}}</h2>
        <app-rating [valutazione]="videogame.valutazione"></app-rating>
        <p class="highlighted-text">Durata:
          <ng-template *ngIf="videogame.durata > 0;then ifblock else elseblock"></ng-template>
            <ng-template #ifblock>
              <span class="detail-data" [contentEditable]="getEditMode()">{{videogame.durata}} h</span>
            </ng-template>
            <ng-template #elseblock>
              <span class="detail-data" [contentEditable]="getEditMode()"> Illimitata </span>
            </ng-template>
        </p>
        <p class="highlighted-text">Anno: <span class="detail-data" [contentEditable]="getEditMode()">{{videogame.anno}}</span></p>
      </section>

    <!--Toolbar videogame-->
    <app-videogame-toolbar></app-videogame-toolbar>

  </article>
  <!--Description videogame-->
  <section class="videogame-description">
    <span class="description-title">Descrizione</span>
    <p class="description-data" [contentEditable]="getEditMode()">{{videogame.descrizione}}</p>
  </section>

  <app-videogame-reviews [videogameId]="videogame.id"></app-videogame-reviews>
</div>

<button class="round50-btn fixed" title="Torna all'inizio" (click)="ToTheTopPressed()">
  <mat-icon>keyboard_arrow_up</mat-icon>
</button>