<header>
  <div style="margin-left: 10px; margin-top: 5px;">
    <img src="/assets/images/logo.png" class="logo">
  </div>
  <div class="header">
    <nav>
      <ul>
        <li><a routerLink="/">Home</a></li>
        @if (localStorage.getItem("user")== null)
        {
          <li><a routerLink="/login">Login</a></li>
          <li><a routerLink="/signup">Registrati</a></li>
        } @else {
          <li><a routerLink="/profile">Profilo</a></li>
        }
        <li><a href="http://localhost:8080/videogames">Videogiochi</a></li>
        @if (localStorage.getItem("user")!= null)
          {
            <li><a routerLink="/videogame-lists">Liste</a></li>
          }
        <li><a routerLink="/guidelines">Linee Guida</a></li>
        @if (localStorage.getItem("user")!= null)
        {
          <li><a routerLink="/logout" (click)="logout()">Logout</a></li>
        }
        @if (localStorage.getItem("user") && isUserAdmin()){
          <li><a routerLink="/reports-handling">Gestione Segnalazioni</a></li>
        }
      </ul>
    </nav>
  </div>
  <div>
    <input type="text" id="searchBar" name="searchBar" placeholder="cerca...">
  </div>
</header>
