<form #homeForm="ngForm" (ngSubmit)="onSubmit(homeForm)">
  <div class="background">
    <div class="main-container">
      <div class="card">
        <h1 class="registrazione">REGISTRAZIONE</h1> <br>
        <h1 class="label">Nome Utente</h1>
        <input type="text" id="username" name="username" class="input" placeholder="Username" ngModel required>
        <br>
        <h1 class="label">Password</h1>
        <input type="password" id="password" name="password" class="input" placeholder="Password" ngModel required>
        <br>
        <h1 class="label">Nome</h1>
        <input type="text" id="name" name="name" class="input" placeholder="Nome" ngModel required>
        <br>
        <h1 class="label">Cognome</h1>
        <input type="text" id="surname" name="surname" class="input" placeholder="Cognome" ngModel required>
        <br>
        <h1 class="label">E-Mail</h1>
        <input type="email" id="email" name="email" class="input" placeholder="email@dom.it" ngModel required>
        <br>
        <h1 class="label">Domanda di sicurezza</h1>
        <input type="text" id="question" name="question" class="input" placeholder="Il mio gioco preferito è?" ngModel required>
        <br>
        <h1 class="label">Risposta</h1>
        <input type="password" id="answer" name="answer" class="input" placeholder="Risposta" ngModel required>
        <br>
        <div class="submit-btn">
          <input type="submit" [disabled]="homeForm.invalid" value="Registrati">
        </div>
        <h3 class="label">Hai già un profilo? <a href="http://localhost:4200/login">Clicca qui!</a></h3>
      </div>
    </div>
  </div>
</form>
