.review-toolbar{
    margin: 0 10px 0 0;
    border: 5px var(--systemGray5) double;
    border-radius: 5px;
    padding: 8px;
}

.review-toolbar .tlb-itms{
    display: flex;
    flex-direction: column;
}