.propicImage{
  display: flex;
  margin-top: 50px;
  margin-bottom: 50px;
  width: auto;
}

.logout-btn{
  width: 80px;
  margin-left: auto;
  margin-right: 50px;
}

.sections{
  display: flex;
  margin-top: 40px;
  margin-left: 250px;
  width: auto;
  height: 30px;
}

.changeFields{
  display: flex;
  justify-content: flex-end;
  margin-top: 15px;
  margin-right: 200px;
  flex-grow: 1;
}

.submit-btn{
  margin-top: 80px;
  margin-bottom: 15px;
  text-align: center;
}

img{
  margin-left: 100px;
}

input[type="text"],
input[type="email"],
input[type="password"]
{
  height: 20px;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 20px;
  outline: none;
  font-size: 16px;
  color: black;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="password"]:focus
{
  border-color: var(--blue-logo-color);
  box-shadow: 0 0 5px var(--blue-logo-darker-color);
}


input[type="submit"] {
  text-align: center;
  padding: 10px 20px;
  height: 50px;
  margin-top: 25px;
  font-size: 16px;
  background-color: var(--blue-logo-darker-color);
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

input[type="submit"]:disabled{
  background-color: var(--systemGray6);
}