<div>
  <div class="propicImage">
    <img src="/assets/images/user/avatar-{{this.userImage}}.svg" height="100" width="100">
    <h1 style="margin-left: 50px; margin-top: 30px">Il tuo account</h1>
  </div>
  <form #homeForm="ngForm" (ngSubmit)="onSubmit(homeForm)">
  <div class="sections">
    <h2>Nome e cognome: </h2>
    <div class="changeFields">
      <input type="text" id="changeNameBar" name="changeNameBar" placeholder="Cambia Nome..." ngModel>
      <input type="text" id="changeSurnameBar" name="changeSurnameBar" placeholder="Cambia Cognome..." ngModel style="margin-left: 20px">
    </div>
  </div>
  <div class="sections">
    <h2>Email: </h2>
    <div class="changeFields">
      <input type="email" id="changeEmailBar" name="changeEmailBar" placeholder="Cambia Email..." ngModel style="margin-left: 350px">
    </div>
  </div>
  <div class="sections">
    <h2>Cambia password: </h2>
    <div class="changeFields">
      <input type="password" id="changePasswordBar" name="changePasswordBar" placeholder="Nuova password..." ngModel>
      <input type="password" id="confirmPasswordBar" name="confirmPasswordBar" placeholder="Conferma password..." ngModel style="margin-left: 20px">
    </div>
  </div>
  <div class="submit-btn">
    <input [disabled]="!isSomethingNotEmpty(homeForm)" type="submit" id="changeProfile" name="changeProfile" value="Invia modifiche" style="margin-left: 20px">
  </div>
  </form>
</div>
