.propicImage{
  display: flex;
  margin-top: 50px;
  margin-bottom: 50px;
}

.sections{
  display: flex;
  margin-top: 40px;
  margin-left: 250px;
  height: 30px;
}

.changeFields{
  position: absolute;
  right: 250px;
  margin-top: 20px;
}

.logout{
  margin-top: 100px;
  margin-bottom: 50px;
  text-align: center;
}

img{
  margin-left: 100px;
}

input[type="text"] {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 20px;
  outline: none;
  font-size: 16px;
  color: black;
}

input[type="text"]:focus {
  border-color: #007BFF;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

input[type="email"] {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 20px;
  outline: none;
  font-size: 16px;
  color: black;
}

input[type="email"]:focus {
  border-color: #007BFF;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

input[type="password"] {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 20px;
  outline: none;
  font-size: 16px;
  color: black;
}

input[type="password"]:focus {
  border-color: #007BFF;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

input[type="submit"] {
  padding: 10px 20px;
  height: 50px;
  margin-top: 25px;
  font-size: 16px;
  background-color: #007BFF;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}
