/* You can add global styles to this file, and also import other style files */

* {
  --systemGray6: rgb(28, 28, 30);
  --systemGray5: rgb(44, 44, 46);
  --systemGray4: rgb(58, 58, 60);
  --systemGray3: rgb(72, 72, 74);
  --systemGray2: rgb(99, 99, 102);
  --systemGray1: rgba(132, 132, 135);
  --systemGray:  rgb(142, 142, 147);

  --header-color: #333;
  --text-color: #a0a0a0;
  --background-header-color:rgba(0,0,0,0.2);
  color: #fff;

  /*category colors 
  keep same naming conventions : --genre-color */
  --sandbox-color: rgba(10, 240, 170,0.4);
  --fps-color: rgba(255,0,0,0.4);
  --moba-color: rgba(0,0,255,0.4);
  --mmorpg-color: rgba(250, 197, 5, 0.4);

  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.round8  { border-radius: 8px; }
.round10 { border-radius: 10px; }
.round12 { border-radius: 12px; }
.round50 { border-radius: 50%; }

.pointer { cursor: pointer; }
.not-allowed { cursor: not-allowed; }

.Rating{
  display: flex;
  flex-direction: row;
}

.Star{
  transform: scale(1.1);
  margin-right: 5px;
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}

.highlighted-text{
  font-weight: bold;
}

.toolbar{
  overflow: hidden;
}

.icon-fill{
  font-variation-settings: 'FILL' 1, 'wght' 700, 'GRAD' 0, 'opsz' 48;
}

.icon-outline{
  font-variation-settings: 'FILL' 0,'wght' 500, 'GRAD' 0, 'opsz' 48;
}

.icon-cnt{
  vertical-align:text-bottom;
}

.red-icon{
  color:rgb(220, 2, 2);
}

.like-blue-icon{
  color:rgb(18, 126, 233);
}

.wish-gold-icon{
  color:rgb(255,215,0);
}

.round50-btn{
  width: 50px;
  height: 50px;
  margin-bottom: 8px;
  padding:0;
  border-radius: 50%;
  transition: background-color 0.3s ease;
  box-shadow: 0 4px 8px var(--background-header-color);
  
}

.round50-btn:hover{
  transform: scale(1.1);
}

html{
  height: 100%;
  background-color: var(--systemGray6);
  color: var(--text-color);
  overflow-x: hidden;
}

body{ 
  height: 100%;
  margin: 0;
}