.title{
    margin: 20px 0 20px 0;
    font-size: 2.5vw;
    text-align: center;
}

.grid-container{
    display: grid;
    grid-template-columns: 22% 22% 22% 22%;
    grid-auto-rows: 25vw;
    justify-content: center;
    gap: 3vw;
}

.videogame-figure{
    position: relative;
    background-color: var(--background-header-color);
    margin: 0;
    width: 100%;
    height: 100%;
}
.videogame-figure:hover{
    transform: scale(1.05);
}

.videogame-figure img{
    display: flex;
    border: 2px solid var(--systemGray3);
    width: 98%;
    height: 100%;
    overflow-wrap: break-word;
    text-align: center;
}


.material-symbols-outlined.mdsize{
    font-size: 2vw;
}

.fv-btn{
    position: absolute;
    bottom: 2%;
    right: 5%;
}

.wl-btn{
    position: absolute;
    bottom: 20%;
    right: 5%;
}