.title{
    margin: 20px 0 20px 0;
    font-size: 2.5vw;
    text-align: center;
}

.grid-container{
    display: grid;
    grid-template-columns: 22% 22% 22% 22%;
    justify-content: center;
    gap: 30px;
}

.videogame-figure{
    background-color: var(--background-header-color);
    margin: 0;
    width: 100%;
    text-align: center;
}

.videogame-figure img{
    margin-top: 2px;
    width: 98%;
}

.videogame-figure figcaption{
    font-size: 1.8vw;
    margin: 15px 5px;
    overflow-wrap: break-word ;
    text-overflow: ellipsis;
}