.review{
    margin-top: 10px;
    background-color: beige;
    margin-bottom: 10px;
}

.review-figure{
    margin-left: 5px;
}

.review-figure > img{
    width: 50px;
    float: left;
}

.icon-figure{
    width: 80px;
    padding-left: 0;
    margin-left: 20px;
}

.review-list{
    clear: left;
    margin-bottom: 100px;
}

.like-icon{
    width: 20px;
}