<div class="review-list">
<section class="review" *ngFor="let review of ReviewList">
    <figure class="review-figure">
        <img src="assets/images/user.png">
        <figcaption>{{review.username}}</figcaption>
    </figure>
    <span> {{review.title}} </span>
    <app-rating [valutazione]="review.rating"></app-rating>
    <p>{{review.comment}}</p>
    <figure class="icon-figure">
        <img class="like-icon" src="assets/images/review/like.png" alt="like-icon">
        <figcaption>{{review.likes}}</figcaption>
    </figure>
</section>
</div>