.main-container{
  display: grid;
  place-items: center;

}
.card{
  background-color: rgba(0, 0, 0, 0.8);
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 2%;
  padding-bottom: 2%;
  margin-top: 5%;
  border-radius: 15px;
}
#password, #username {
  outline: 3px solid #2f97ca;
  outline-offset: 3px;
  height: 25px;
  width: 20vw;
  background-color: var(--systemGray4);
  border-radius: 5px;
}
.label{
  color:#2f97ca;
text-align: center;
}

.login
{
  color:#2f97ca;
  font-size: 30px;
  text-align: center;
}
.background
{
padding-bottom: 10%;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url("../../../assets/images/loginBackground.png");
}
input[type="submit"] {
  text-align: center;
  padding: 10px 20px;
  height: 50px;
  margin-top: 25px;
  font-size: 16px;
  background-color: var(--blue-logo-darker-color);
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}
.submit-btn{
  margin-top: 30px;
  margin-bottom: 15px;
  text-align: center;
}
